<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RRLightProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <RRLightProgram.Properties.Settings>
            <setting name="DelcomButtonPollingInterval" serializeAs="String">
                <value>00:00:00.1000000</value>
            </setting>
            <setting name="RecorderPollingInterval" serializeAs="String">
                <value>00:00:00.5000000</value>
            </setting>
            <setting name="DelcomButtonHoldThreshold" serializeAs="String">
                <value>00:00:03</value>
            </setting>
            <setting name="DelcomButtonIgnoreAfterButtonUp" serializeAs="String">
                <value>00:00:00.3000000</value>
            </setting>
            <setting name="EnableVerboseTrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceType" serializeAs="String">
                <value>Delcom</value>
            </setting>
        </RRLightProgram.Properties.Settings>
    </applicationSettings>
</configuration>